<!-- views/partials/nav.ejs -->
<nav class="nav">
    <h1>Inventory Categories</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/items">View All Guitars</a></li>
        <li><a href="/items/new">Add New Guitar</a></li>
    </ul>
</nav>