<!-- views/partials/nav.ejs -->
<nav class="nav">
    <h1 class="shop-title">
        <span class="first-word">SPACE</span>
        <span class="second-word">VIHECLE</span> 
    </h1>

    <!-- Hamburger Checkbox & Label -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>

    <ul>
        <li><a href="/categories">home</a></li>
        <li><a href="/items">View All Vehicles</a></li>
        <li><a href="/items/new">Add New Vehicle</a></li>
    </ul>
</nav>