<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/addCategory.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/style.css">
    <title>Space Wheels</title>
</head>
    <body>
        <%- include('partials/nav') %>
        <%- include('partials/searchBar') %>
        <%- include('partials/addCategory', { categories: categories }) %>

        <% if (categories.length===0) { %>
            <h3>Empty</h3>
            <% } else { %>
                <ul>
                    <% categories.forEach(category=> { %>
                        <li>
                            <%= category.name %>
                        </li>
                        <% }); %>
                </ul>
                <% } %>
    </body>
</html>